<div>
  <div style="
    height: 100vh; 
    background: url('https://i.imgur.com/afTDapm.jpg'); 
    background-size: cover;">
    <div class="ui container">
      <div class="ui middle aligned grid">
        <div class="middle aligned row" style="height: 100vh;">
          <div class="column">
            <img class="ui right floated medium image" style="background: rgba(46, 63, 34, 0.5); border: 2.5px solid #ffffff; border-radius: 12px;"
              src="https://i.imgur.com/7VjvTPG.png" alt="Logo">
            <h1 class="ui right aligned header" style="margin-top: 40px; color: white; text-shadow: 0 2px 6px black;">
              <h2 class="ui sub header" style="text-shadow: 0 1px 7px rgb(39, 26, 26); font-size: 1.5rem; color: white">Serviço
                para envio de sms, simples e
                rápido</h2>
              <h5 class="ui content">
                alguam coisa aqui aduhsduahd adsuh asdu hasdu hasdu had uahsd uahsd
                uahsd ausdh audsh daushduahd adsudhaudhausdhausdhaudh asudh
                ausdhausdh ausdhausdhausdhaushduashd aduhasudhausdh
              </h5>
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>