<div>
  <div id="scene">
    <div class="ui container">
      <div class="ui middle aligned grid">
        <div class="middle aligned row">
          <div class="column">
            <img id="logo" class="ui right floated medium image"
              src="https://i.imgur.com/7VjvTPG.png" alt="Logo">
            <h1 class="ui right aligned header">
              <h5 class="ui content">
                alguam coisa aqui aduhsduahd adsuh asdu hasdu hasdu had uahsd uahsd
                uahsd ausdh audsh daushduahd adsudhaudhausdhausdhaudh asudh
                ausdhausdh ausdhausdhausdhaushduashd aduhasudhausdh
              </h5>
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>