<h2 class="ui center aligned icon header">
  <i class="circular paper plane icon"></i>
  <div class="content">
    envie seu sms
    <div class="sub header">preencha os campos abaixo</div>
  </div>
</h2>
<br>
<div class="ui column relaxed centered grid">
  <div class="eight wide column">
    <div class="ui form">
      <div class="field">
        <label>
          <i class="share icon"></i>
          Nº do(s) telefone(s) &nbsp;
          <span class="ui small pointing below red label">
            Telefone(s) inválido(s)! preencha conforme o exemplo: "(83)98765-1234"
          </span>
        </label>
        <textarea placeholder="(10)55555-0000 (11)55555-4444" style="margin:2px" rows="2" #phones></textarea>
      </div>
      <div class="field">
        <label>
          <i class="edit icon"></i>
          Mensagem &nbsp;
          <span class="ui small pointing below yellow label">
            Esse campo não pode ser vazio :(
          </span>
        </label>
        <textarea placeholder="Digite sua mensagem" rows="3" #text></textarea>
      </div>
    </div>
    <br>
    <button class="ui green fluid button">
      enviar
    </button>
  </div>
</div>