<div class="ui fixed inverted menu">
  <div class="ui container">
    <a class="item" (click)="scroll('about')">
      Sobre
    </a>
    <a class="item" (click)="scroll('send')">
      Enviar sms
    </a>
    <div class="right menu">
      <a class="item" (click)="consult()">
        <i class="search link icon"></i>
        Consultas
      </a>
    </div>
  </div>
</div>
<div>
  <app-about id="about" #about></app-about>
  <br>
  <app-send-sms id="send" #send></app-send-sms>
  <br>
  <app-search></app-search>
</div>