<div class="ui menu">
  <div class="ui container">
    <a class="active item" href="#about">
      Sobre
    </a>
    <a class="item" href="#send">
      Enviar SMS
    </a>
    <div class="right menu">
      <a class="item">
        <i class="search link icon"></i>
        Consultas
      </a>
    </div>
  </div>
</div>
<div class="ui container">
  <!-- <br>
  <app-about id="about"></app-about>
  <br> -->
  <app-send-sms id="send" style="position: relative; bottom: -80px; top: 80px;"></app-send-sms>
</div>