/* You can add global styles to this file, and also import other style files */
.swal-text {
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  padding: 17px;
  display: block;
  margin: 22px;
  text-align: start;
  color: #61534e;
  width: 100%;
}

.swal-title {
  margin: 20px;
}

.swal-modal {
  width: auto;
  border-radius: 15px;
}

.swal-footer {
  background: #e6e6e6;
}